/* ----- HomePage ----- */
.main-div {
  width: 100%;

  height: 100%;
  display: flex;
  flex-direction: row;
}
.image-div {
  width: 50%;
  height: 80%;


}
.image-div img {
  width: 100%;
  height: 590px;
  overflow: hidden;
}
.form-div{
  width: 50%;

  height: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.form-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.name-input-container {
  display: flex;

  padding: 10px;
  gap: 5px;
  align-items: flex-start;
  flex-direction: column;
}
.name-input {
  border: 1px solid rgb(145, 145, 145);
  border-bottom: 5px solid rgb(204, 142, 255);
  height: 33px;
  width: 296px;
  font-size: 20px;
  border-radius: 3px;
}
.name-input:focus {
  outline: none;
}

.join {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  padding: 20px;

}
button {
  width: 300px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  background: #efe7f0;
  border: 1px solid blue;
  border-radius: 4px;
  transition-property: transform;
}
button:hover {
  transform: scale(1.05);
  animation: ease-in;
  background: #ab43ca;
  color: white;
}
.code-input {
  border: 1px solid rgb(145, 145, 145);
  border-bottom: 5px solid rgb(204, 142, 255);
  height: 33px;
  width: 296px;
  font-size: 20px;
  border-radius: 3px;
}
.code-input:focus{
  outline: none;
}

ul li{
  list-style-type: none;
  color: red;
  font-size: 24px;
}
/* ------------ */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.room-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.message-box {
  overflow: hidden;
  height: 96vh;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}
.messages {
  overflow-y: scroll;
  flex: 1;
  width: 100%;
}
.inputs {
  padding: 10px;
  display: flex;
  gap: 10px;
}
h2 {
  text-align: center;
}
#message {
  flex: 1;
  border-radius: 10px;
  border: 1px solid black;
}
#message:focus {
  outline: none;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
span {
  display: flex;
  flex-direction: column;
}
strong,
em {
  font-size: 20px;
}
em {
  padding-right: 13px;
}
.muted {
  font-size: 10px;
  color: darkgray;
}
.send-button{
  width: 200px;
}

/* ---- responsive ------ */
@media screen and (max-width: 768px) {
  .room-header {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .form-wrapper {
    width: 100%;
  }
  .message-box {
    margin: 0;
    overflow: hidden;
    word-wrap: normal;
  }
  #send-btn {
    width: 100px;
  }
}
